* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    color: #1f2937;
    background-color: #f9fafb;
}

header {
    padding: 1.5rem;
    text-align: center;
    background-color: #0f172a;
    color: #ffff;
}

header a {
    color: #ffff;
}

main{
    max-width: 960px;
    margin: 0 auto;
}

footer{
    text-align: center;
    padding: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
}

/* Catalogo de Talleres */

.catalogo {
    display: grid;
    grid-template-columns: repeat();
} 


